<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/rayo1024.png" width="30" height="30" alt="">
        </a> </li>

    </ul>
    <ul class="navbar-nav text-right">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/admin" routerLinkActive="active">Ingresar como
          administrador</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>